<form class="da-form"
    action="__CTX__/admin/sysDicListSave" method="post"
    data-pkui-component="validator|form"
    data-done-callback="editSysDicListDoneCallback"
    data-fail-callback="editSysDicListFailCallback"
    data-always-callback="editSysDicListAlwaysCallback" >

    <div class="da-form-heading">编辑字典</div>
    <div class="da-form-body">
        <table class="da-form-table da-table da-table-striped">
            <colgroup>
                <col width="10%">
                <col width="90%">
            </colgroup>
            <tr>
                <td class="text-right"><label class="da-control-label required">字典名称：</label></td>
                <td><input type="hidden" name="dicName" value="{{dicName}}">{{dicName}}</td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label">字典标准：</label></td>
                <td><input type="text" class="da-form-control" name="dicStandard" value="{{dicStandard}}"></td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label required">是否可编辑：</label></td>
                <td>
                    <div class="da-form-radio">
                        <label><input type="radio" name="editable" value="1" {{if editable === "1"}}checked{{/if}}>是</label>
                        <label><input type="radio" name="editable" value="0" {{if editable === "0"}}checked{{/if}}>否</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label required">是否有效：</label></td>
                <td>
                    <div class="da-form-radio">
                        <label><input type="radio" name="visiable" value="1" {{if visiable === "1"}}checked{{/if}}>是</label>
                        <label><input type="radio" name="visiable" value="0" {{if visiable === "0"}}checked{{/if}}>否</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label required">字典描述：</label></td>
                <td><input type="text" class="da-form-control" name="dicDesc" value="{{dicDesc}}" data-rule='“字典描述”: required'></td>
            </tr>
        </table>
    </div>
    <div class="da-form-footer">
        <button type="submit" class="btn btn-success-2">确定</button>
    </div>
</form>


<script>
    // 请求发送成功，对服务器端返回的数据进行处理
    function editSysDicListDoneCallback($form, jsonResult) {
        console.info( jsonResult );
        jsonResult = window.PKUI.handleJsonResult( jsonResult );
        console.info( jsonResult );
        // 服务器端处理成功
        if ( jsonResult.success ) {
            // 提示
            layer.alert( '修改成功！', { icon: 1 }, function ( index ) {
                layer.close( index );
                // 关闭抽屉层
                $form.closest( ".pkui-drawer" ).find( ".pkui-drawer-button" ).trigger( "click" );
            } );
        }
        // 服务器端处理失败
        else {
            // 提示
            layer.alert( '修改失败！', { icon: 2 } );
        }
    }

    // 请求发送失败
    function editSysDicListFailCallback($form) {
        // 提示网络错误
        layer.alert( '网络错误！', { icon: 0 } );
    }

    // 无论请求发送成功与否
    function editSysDicListAlwaysCallback($form) {
        // 无论
    }
</script>