@import "variables";

.launchpad-starter {
    position: relative;
    width: 80%;
    height: 100%;
    color: #555;

    .container-fluid {
        padding: 0;
    }
    .row {
        margin: 0;
    }
    .col-xs-3,
    .col-xs-4,
    .col-xs-6 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        height: 100%;
        padding: 10px;

    }
}
.stater-row {

}
.stater-row-top {
    position: relative;
    z-index: 10;
    height: 10%;
}
.stater-row-middle {
    height: 60%;
}
.stater-row-bottom {
    height: 30%;
}

.starter-search {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64%;
    height: 40px;
    margin-left: -32%;
    margin-top: -20px;
}
.starter-search-input {
    width: 100%;
    height: 36px;
    border: solid 2px #2a9be1;
    text-indent: 1em;
    color: #fff;
    background: none;
    border-radius: 82px;
    &:focus,
    &:hover {
        outline: none 0;
        border-color: lighten(#2a9be1, 10%);
    }
    &::-webkit-input-placeholder {
        color: $starter-search-placeholder-color;
    }
    &:-moz-placeholder{
        color: $starter-search-placeholder-color;
    }
    &::-moz-placeholder{
        color: $starter-search-placeholder-color;
    }
    &:-ms-input-placeholder{
        color: $starter-search-placeholder-color;
    }
}
.starter-search-btn {
    position: absolute;
    right: 1px;
    top: 4px;
    width: 32px;
    height: 32px;
    border: none 0;
    font-size: 16px;
    color: #b9e1fa;
    background: #1f8ccd;
    border-radius: 50px;
    cursor: pointer;
}
.starter-panel {
    height: 100%;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    /*
    &.radius-top-left {
        .starter-panel-heading {
            border-top-left-radius: $starter-panel-radius;
        }
        .starter-panel-body {
            border-top-left-radius: $starter-panel-radius + 2;
        }
    }
    &.radius-top-right {
        .starter-panel-heading {
            border-top-right-radius: $starter-panel-radius;
        }
        .starter-panel-body {
            border-top-right-radius: $starter-panel-radius + 2;
        }
    }
    &.radius-bottom-left {
        .starter-panel-body {
            border-bottom-left-radius: $starter-panel-radius;
        }
    }
    &.radius-bottom-right {
        .starter-panel-body {
            border-bottom-right-radius: $starter-panel-radius;
        }
    }*/
}
.starter-panel-heading {
    position: relative;
    z-index: 2;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #165ea8;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.starter-panel-body {
    height: 100%;
    margin-top: -48px;
    padding-top: 48px;
    //border-radius: 4px;
    background-color: #fff;
    cursor: auto;

    //border-bottom-left-radius: $starter-panel-radius;
    //border-bottom-right-radius: $starter-panel-radius;

    border-radius: $starter-panel-radius;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.starter-list {
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}
.starter-item {
    padding: 6px 12px;
    &:nth-of-type(2n) {
        background-color: #fcfafb;
    }
    &:hover {
        background-color: #f3f1f2;
        cursor: pointer;
    }
}
.starter-item-icon {
    width: 32px;
    float: left;
    height: 60px;
    //text-align: center;
    color: #3673b4;
    &.fa {
        font-size: 16px;
        line-height: 60px;
    }
}
.starter-item-content {
    display: block;
    height: 60px;
    font-size: 14px;
    line-height: 20px;
    //color: #494949;
    display: table-cell;
    vertical-align: middle;
}
.starter-item-text {
    display: block;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.starter-item-time {
    display: block;
    font-size: 12px;
    color: #888;
}

.starter-shoutcutList {
    width: 100%;
    height: 100%;
    overflow: auto;
    //overflow: hidden;

    //&:hover,
    //&.overflow-auto {
    //    overflow: auto;
    //}
}
.starter-shoutcutItem {
    float: left;
    .launchpad-shortcut {
        width: 100px;
        height: 100px;
        margin: 6px 0 0 6px;
        border: none 0;
    }
    .launchpad-shortcut-icon {
        width: 48px;
        height: 48px
    }
    .launchpad-shortcut-fonticon {
        line-height: 48px;
        font-size: 24px;
    }
    .launchpad-shortcut-title {
        width: 86px;
        font-size: 12px;
        color: #666;
    }
}
.starter-panel-linkList  {
    .starter-panel-body {
        padding: 58px 10px 10px 10px;
        overflow: auto;
        //overflow: hidden;

        //&:hover,
        //&.overflow-auto {
        //    overflow: auto;
        //}
    }
}
.starter-linkList {
}
.starter-linkItem {
    float: left;
    width: 50%;
    line-height: 28px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
    &:hover {
        color: #61baec;
    }
    &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 6px;
        margin-left: 6px;
        background-color: #32997b;
        vertical-align: middle;
    }
    &.disabled {
        color: #999;
        text-decoration: line-through;
        cursor: not-allowed;
        &:before {
            background-color: #d3d4d8;
        }

    }
}


.ui-autocomplete {
    z-index: 10;
    background: #fff;
    padding: 4px 0;
    //border-top: solid 1px #c9c6c3;
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
}
.ui-menu-item {
    line-height: 24px;
    font-size: 14px;
    color: #666;
}
.ui-state-active {
    color: #fff;
    background-color: #115ebf;
}
.ui-menu-item .fa {
    width: 26px;
    text-align: center;
    margin-left: 10px;
}
.ui-menu-item strong {
    color: #ff8000;
}