
.pkui-dialog {
    border-radius: 0;
    border: none 0;
    //box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    font-family: inherit;
}

.pkui-dialog-header {
    //background-color: #33a6e7;
    background-color: #0a396f;
    border-bottom: none 0;
}

.pkui-dialog-title {
    padding: 12px 12px;
    color: #fff;
}
.pkui-dialog-title-icon {
    margin: -1px 10px 0 0;
    height: 20px;
    vertical-align: middle;
}
.pkui-dialog-title-fonticon {
    margin: -1px 10px 0 0;
    line-height: 20px;
}
.pkui-dialog-header > button {
    float: right;
    position: static;
    top: auto;
    right: auto;
    border: 0;
    padding: 0;
    margin: 14px 12px 0 0;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    opacity: 1;
    //filter: alpha(opacity=100);
    filter: none;
}
.pkui-dialog-close {
    @extend .icon-win-close;
}

.pkui-dialog-close:hover,
.pkui-dialog-close:focus {
    //color: #000000;
    //text-decoration: none;
    cursor: pointer;
    outline: 0;
    opacity: 1;
    // filter: alpha(opacity=100);
    filter: none;
}
.pkui-dialog-max {
    @extend .icon-win-max;
}
.pkui-dialog-restore {
    @extend .icon-win-maxmin;
    display: none;
}
.pkui-dialog-min {
    @extend .icon-win-min;
}

.pkui-dialog-body {
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.pkui-popup-focus .pkui-dialog,
.pkui-dialog {
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}

.da-theme-light {
    .pkui-dialog {
        background-color: transparent;
    }
    .pkui-dialog-header {
        > button {
            margin-top: 13px;
        }
        border-radius: 4px 4px 0 0;
        border-bottom: solid 1px #b1b1b1;
        background-color: whitesmoke;
        background-image: -moz-linear-gradient(top, #f6f6f6, #d4d4d4);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#d4d4d4));
        background-image: -webkit-linear-gradient(top, #f6f6f6, #d4d4d4);
        background-image: -o-linear-gradient(top, #f6f6f6, #d4d4d4);
        background-image: linear-gradient(to bottom, #f6f6f6, #d4d4d4);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6F6F6', endColorstr='#FFD4D4D4', GradientType=0);

        &:hover {
            .pkui-dialog-close {
                @extend .icon-win-close-hover;
            }
            .pkui-dialog-max {
                @extend .icon-win-max-hover;
            }
            .pkui-dialog-restore {
                @extend .icon-win-maxmin-hover;
            }
            .pkui-dialog-min {
                @extend .icon-win-min-hover;
            }
        }
    }
    .pkui-dialog-title {
        padding: 9px 12px;
        color: #4f4f4f;
        font-size: 16px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.85);
    }
    .pkui-dialog-title-fonticon {
        margin-right: 6px;
    }
}