.topbar-toolbar {

    .dropdown-menu {
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(27,31,35,0.15);
        border-radius: 2px;
        box-shadow: 0 3px 12px rgba(27,31,35,0.15);
    }
    .dropdown-header {
        font-size: inherit;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #0366d6;
    }
    .dropdown-menu:before,
    .dropdown-menu:after {
        position: absolute;
        display: inline-block;
        content: "";
    }
    .dropdown-menu:before {
        top: -16px;
        right: 9px;
        left: auto;
        border: 8px solid transparent;
        border-bottom-color: rgba(27,31,35,0.15);
    }
    .dropdown-menu:after {
        top: -14px;
        right: 10px;
        left: auto;
        border: 7px solid transparent;
        border-bottom-color: #fff;
    }
    .dropdown-menu .fa {
        width: 16px;
    }
}
