.da-theme {
}

.da-theme-default {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-position .8s ease;
            transition: background-position .8s ease;
    background-image: url(#{$image-path}/da_bg.jpg);
    .da-topbar {
        background: url(#{$image-path}/topbar_bg.png) repeat-x 0 0;
    }
}


// 青色
.da-theme-light {
    background: url(#{$image-path}/da_bg.png) 0 0 repeat-x #fff;
    .da-topbar {
        top: auto;
        bottom: 0;

        height: 45px;

        //background-color: #a7c0dc;
        //background-color: rgba(167, 192, 220, 0.6);
        border-top: solid 1px #cad9ea;
        border-top-color: rgba(202, 217, 234, 0.6);

        background-color: #A7C0DC;
        // filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99A7C0DC', endColorstr='#99A7C0DC');

    }
    .da-desktop {
        bottom: 46px;
        top: 48px;
    }
    .da-sidebar {
        top: 0;
        bottom: 46px;
        overflow: hidden;
    }
    .da-desktop-title {
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 100%;
        color: #ffffff;
        font-size: 60px;
        text-align: center;
        letter-spacing: 6px;
        -webkit-box-reflect: below -16px -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0) 40%, rgba(250, 250, 250, 0.2));
        box-reflect: below -16px -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0) 40%, rgba(250, 250, 250, 0.2));
        text-shadow: 0 0 2px rgba(0, 0, 0, .3), 0 0 4px rgba(255, 255, 255, 1);
    }
    .da-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        line-height: 48px;
        /*background-color: rgba(63, 161, 242, 0.24);*/
        /*background-color: #094E93;*/
        /*background-color: rgba(9, 78, 147, 0.27);*/
        color: #fff;
        vertical-align: middle;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
        border-bottom: solid 1px #055e93\9;
    }
    .da-top-title {
        float: left;
        font-size: 24px;
        letter-spacing: 3px;
        @include clearfix();
    }
    .da-top-img {
        height: 32px;
        margin: 8px 6px 0 12px;
        vertical-align: top;
    }
    .da-top-aside {
        float: right;
        @include clearfix();
    }

    .da-top-asideItem {
        float: left;
        margin-right: 24px;
    }
}

:root .da-theme-light .da-topbar {
    filter:none;	 /*处理IE9浏览器中的滤镜效果*/
    background-color:rgba(167,192,220,0.6);
}

