<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pkusoft.admin.dao.SysDicListMapper" >
  <!-- 结果集映射 -->
  <resultMap id="BaseResultMap" type="com.pkusoft.admin.model.SysDicList" >
    <id column="DIC_NAME" property="dicName" jdbcType="VARCHAR" />
    <result column="DIC_DESC" property="dicDesc" jdbcType="VARCHAR" />
  </resultMap>
  <!-- MySQL分页SQL片段 -->
  <sql id="pageHeader">
    
  </sql>
  <sql id="pageRoot">
      limit #{pager.start}, #{pager.pageSize}
  </sql>
  <!-- 查询操作的查询标准SQL片段 -->
  <sql id="Criteria_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <!-- 更新操作的查询标准SQL片段 -->
  <sql id="Update_By_Criteria_Where_Clause" >
    <where >
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <!-- 查询字段SQL片段 -->
  <sql id="Base_Column_List" >
  	DIC_NAME,
  	DIC_DESC
  </sql>
  <!-- 根据查询标准获取列表数据-->
  <select id="getListByCriteria" resultMap="BaseResultMap" parameterType="com.pkusoft.framework.model.Criteria" >
  	<if test="pager != null" >
      <include refid="pageHeader" />
    </if> 
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_dic_list
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pager != null" >
      <include refid="pageRoot" />
    </if>
  </select>
  <!-- 根据主键获取对象信息 -->
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Object" >
    select 
    <include refid="Base_Column_List" />
    from sys_dic_list
    where 
    DIC_NAME = #{dicName,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除记录 -->
  <delete id="delete" parameterType="java.lang.Object" >
    delete from sys_dic_list
    where 
    DIC_NAME = #{dicName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.pkusoft.framework.model.Criteria" >
    delete from sys_dic_list
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </delete>
  <!-- 全字段插入 -->
  <insert id="insert" parameterType="com.pkusoft.admin.model.SysDicList" >
    insert into sys_dic_list (
    DIC_NAME,
    DIC_DESC
      )
    values (
    #{dicName,jdbcType=VARCHAR},
    #{dicDesc,jdbcType=VARCHAR}
      )
  </insert>
  <!-- 选择值不为空的字段插入 -->
  <insert id="insertSelective" parameterType="com.pkusoft.admin.model.SysDicList" >
    insert into sys_dic_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dicName != null" >
	    DIC_NAME,
      </if>
      <if test="dicDesc != null" >
	    DIC_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dicName != null" >
	    #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="dicDesc != null" >
	    #{dicDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据查询标准获取记录数 -->
  <select id="getCountByCriteria" parameterType="com.pkusoft.framework.model.Criteria" resultType="java.lang.Integer" >
    select count(*) from sys_dic_list
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </select>
  <!-- 根据查询标准更新 ，选择字段值不为空的更新 -->
  <update id="updateByCriteriaSelective" parameterType="map" >
    update sys_dic_list
    <set >
      <if test="record.dicName != null" >
	    DIC_NAME = #{record.dicName,jdbcType=VARCHAR},
      </if>
      <if test="record.dicDesc != null" >
	    DIC_DESC = #{record.dicDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <!-- 根据查询标准全字段更新 -->
  <update id="updateByCriteria" parameterType="map" >
    update sys_dic_list
    set 
		DIC_NAME = #{record.dicName,jdbcType=VARCHAR},
		DIC_DESC = #{record.dicDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <!-- 根据主键更新 ，选择字段值不为空的更新 -->
  <update id="updateSelective" parameterType="com.pkusoft.admin.model.SysDicList" >
    update sys_dic_list
    <set >
      <if test="dicName != null" >
       DIC_NAME = #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="dicDesc != null" >
       DIC_DESC = #{dicDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where 
    DIC_NAME = #{dicName,jdbcType=VARCHAR}
  </update>
  <!-- 根据主键全字段更新 -->
  <update id="update" parameterType="com.pkusoft.admin.model.SysDicList" >
    update sys_dic_list
    set 
		DIC_NAME = #{dicName,jdbcType=VARCHAR},
		DIC_DESC = #{dicDesc,jdbcType=VARCHAR}
    where 
    DIC_NAME = #{dicName,jdbcType=VARCHAR}
  </update> 
  
  <!-- 在以下扩展数据操作接口 -->
  <select id="sysDicListXml" resultType="java.lang.String" >
	select DIC_NAME from SYS_DIC_LIST where visible = '1'
  </select>
</mapper>