<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pkusoft.admin.dao.SysErrorMapper" >
  <resultMap id="BaseResultMap" type="com.pkusoft.admin.model.SysError" >
    <id column="ERROR_ID" property="errorId" jdbcType="DECIMAL" />
    <result column="ERROR_CODE" property="errorCode" jdbcType="VARCHAR" />
    <result column="ERROR_INFO" property="errorInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="pageHeader">
    select * from(select s_.*,rownum rn_ from(
  </sql>
  <sql id="pageRoot">
      ) s_ where rownum &lt;= #{pager.limit}) where rn_ &gt; #{pager.start}
  </sql>
  <sql id="Criteria_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Criteria_Where_Clause" >
    <where >
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  	ERROR_ID
  	, ERROR_CODE
  	, ERROR_INFO
  </sql>
  <select id="getListByCriteria" resultMap="BaseResultMap" parameterType="com.pkusoft.framework.model.Criteria" >
  	<if test="pager != null" >
      <include refid="pageHeader" />
    </if> 
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_ERROR
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pager != null" >
      <include refid="pageRoot" />
    </if>
  </select>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Object" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ERROR
    where 
    ERROR_ID = #{errorId,jdbcType=DECIMAL}
  </select>
  <delete id="delete" parameterType="java.lang.Object" >
    delete from SYS_ERROR
    where 
    ERROR_ID = #{errorId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.pkusoft.framework.model.Criteria" >
    delete from SYS_ERROR
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pkusoft.admin.model.SysError" >
    insert into SYS_ERROR (
  	ERROR_ID
  	, ERROR_CODE
  	, ERROR_INFO
      )
    values (
  	#{errorId,jdbcType=DECIMAL}
  	, #{errorCode,jdbcType=VARCHAR}
  	, #{errorInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pkusoft.admin.model.SysError" >
    insert into SYS_ERROR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="errorId != null" >
	    ERROR_ID,
      </if>
      <if test="errorCode != null" >
	    ERROR_CODE,
      </if>
      <if test="errorInfo != null" >
	    ERROR_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="errorId != null" >
	    #{errorId,jdbcType=DECIMAL},
      </if>
      <if test="errorCode != null" >
	    #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorInfo != null" >
	    #{errorInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getCountByCriteria" parameterType="com.pkusoft.framework.model.Criteria" resultType="java.lang.Integer" >
    select count(*) from SYS_ERROR
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update SYS_ERROR
    <set >
      <if test="record.errorId != null" >
	    ERROR_ID = #{record.errorId,jdbcType=DECIMAL},
      </if>
      <if test="record.errorCode != null" >
	    ERROR_CODE = #{record.errorCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errorInfo != null" >
	    ERROR_INFO = #{record.errorInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update SYS_ERROR
    set 
		ERROR_ID = #{record.errorId,jdbcType=DECIMAL}
		, ERROR_CODE = #{record.errorCode,jdbcType=VARCHAR}
		, ERROR_INFO = #{record.errorInfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateSelective" parameterType="com.pkusoft.admin.model.SysError" >
    update SYS_ERROR
    <set >
      <if test="errorId != null" >
       ERROR_ID = #{errorId,jdbcType=DECIMAL},
      </if>
      <if test="errorCode != null" >
       ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorInfo != null" >
       ERROR_INFO = #{errorInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where 
    ERROR_ID = #{errorId,jdbcType=DECIMAL}
  </update>
  <update id="update" parameterType="com.pkusoft.admin.model.SysError" >
    update SYS_ERROR
    set 
		ERROR_ID = #{errorId,jdbcType=DECIMAL}
		, ERROR_CODE = #{errorCode,jdbcType=VARCHAR}
		, ERROR_INFO = #{errorInfo,jdbcType=VARCHAR}
    where 
    ERROR_ID = #{errorId,jdbcType=DECIMAL}
  </update> 
  <select id="getSysErrorList" parameterType="java.lang.String" resultType="com.pkusoft.admin.model.SysError" >
    select 
    ERROR_CODE ,ERROR_INFO
    from SYS_ERROR  
  </select>
</mapper>