<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pkusoft.admin.dao.SysPermitMapper" >
  <resultMap id="BaseResultMap" type="com.pkusoft.admin.model.SysPermit" >
    <id column="PERMIT_ID" property="permitId" jdbcType="DECIMAL" />
    <result column="PERMIT_NAME" property="permitName" jdbcType="VARCHAR" />
    <result column="PERMIT_CODE" property="permitCode" jdbcType="VARCHAR" />
    <result column="PERMIT_VALUE" property="permitValue" jdbcType="VARCHAR" />
    <result column="PERMIT_DESC" property="permitDesc" jdbcType="VARCHAR" />
    <result column="ORDER_FLAG" property="orderFlag" jdbcType="DECIMAL" />
    <result column="RESERVE1" property="reserve1" jdbcType="VARCHAR" />
    <result column="RESERVE2" property="reserve2" jdbcType="VARCHAR" />
    <result column="RESERVE3" property="reserve3" jdbcType="VARCHAR" />
    <result column="RESERVE4" property="reserve4" jdbcType="VARCHAR" />
    <result column="RESERVE5" property="reserve5" jdbcType="VARCHAR" />
    <result column="ADD_USER_ID" property="addUserId" jdbcType="DECIMAL" />
    <result column="ADD_USER_NAME" property="addUserName" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="DECIMAL" />
    <result column="MODIFY_USER_NAME" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="pageHeader">
  	<!-- 
    select * from(select s_.*,rownum rn_ from(
    -->
  </sql>
  <sql id="pageRoot">
  	  <!-- 
      ) s_ where rownum &lt;= #{pager.limit}) where rn_ &gt; #{pager.start}
      -->
       limit #{pager.start}, #{pager.pageSize} 
  </sql>
  <sql id="Criteria_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Criteria_Where_Clause" >
    <where >
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  	PERMIT_ID
  	, PERMIT_NAME
  	, PERMIT_CODE
  	, PERMIT_VALUE
  	, PERMIT_DESC
  	, ORDER_FLAG
  	, RESERVE1
  	, RESERVE2
  	, RESERVE3
  	, RESERVE4
  	, RESERVE5
  	, ADD_USER_ID
  	, ADD_USER_NAME
  	, ADD_TIME
  	, MODIFY_USER_ID
  	, MODIFY_USER_NAME
  	, MODIFY_TIME
  </sql>
  <select id="getListByCriteria" resultMap="BaseResultMap" parameterType="com.pkusoft.framework.model.Criteria" >
  	<if test="pager != null" >
      <include refid="pageHeader" />
    </if> 
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_PERMIT
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pager != null" >
      <include refid="pageRoot" />
    </if>
  </select>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Object" >
    select 
    <include refid="Base_Column_List" />
    from SYS_PERMIT
    where 
    PERMIT_ID = #{permitId,jdbcType=DECIMAL}
  </select>
  <delete id="delete" parameterType="java.lang.Object" >
    delete from SYS_PERMIT
    where 
    PERMIT_ID = #{permitId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.pkusoft.framework.model.Criteria" >
    delete from SYS_PERMIT
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pkusoft.admin.model.SysPermit" >
    insert into SYS_PERMIT (
  	PERMIT_ID
  	, PERMIT_NAME
  	, PERMIT_CODE
  	, PERMIT_VALUE
  	, PERMIT_DESC
  	, ORDER_FLAG
  	, RESERVE1
  	, RESERVE2
  	, RESERVE3
  	, RESERVE4
  	, RESERVE5
  	, ADD_USER_ID
  	, ADD_USER_NAME
  	, ADD_TIME
  	, MODIFY_USER_ID
  	, MODIFY_USER_NAME
  	, MODIFY_TIME
      )
    values (
  	#{permitId,jdbcType=DECIMAL}
  	, #{permitName,jdbcType=VARCHAR}
  	, #{permitCode,jdbcType=VARCHAR}
  	, #{permitValue,jdbcType=VARCHAR}
  	, #{permitDesc,jdbcType=VARCHAR}
  	, #{orderFlag,jdbcType=DECIMAL}
  	, #{reserve1,jdbcType=VARCHAR}
  	, #{reserve2,jdbcType=VARCHAR}
  	, #{reserve3,jdbcType=VARCHAR}
  	, #{reserve4,jdbcType=VARCHAR}
  	, #{reserve5,jdbcType=VARCHAR}
  	, #{addUserId,jdbcType=DECIMAL}
  	, #{addUserName,jdbcType=VARCHAR}
  	, #{addTime,jdbcType=TIMESTAMP}
  	, #{modifyUserId,jdbcType=DECIMAL}
  	, #{modifyUserName,jdbcType=VARCHAR}
  	, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pkusoft.admin.model.SysPermit" >
    insert into SYS_PERMIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permitId != null" >
	    PERMIT_ID,
      </if>
      <if test="permitName != null" >
	    PERMIT_NAME,
      </if>
      <if test="permitCode != null" >
	    PERMIT_CODE,
      </if>
      <if test="permitValue != null" >
	    PERMIT_VALUE,
      </if>
      <if test="permitDesc != null" >
	    PERMIT_DESC,
      </if>
      <if test="orderFlag != null" >
	    ORDER_FLAG,
      </if>
      <if test="reserve1 != null" >
	    RESERVE1,
      </if>
      <if test="reserve2 != null" >
	    RESERVE2,
      </if>
      <if test="reserve3 != null" >
	    RESERVE3,
      </if>
      <if test="reserve4 != null" >
	    RESERVE4,
      </if>
      <if test="reserve5 != null" >
	    RESERVE5,
      </if>
      <if test="addUserId != null" >
	    ADD_USER_ID,
      </if>
      <if test="addUserName != null" >
	    ADD_USER_NAME,
      </if>
      <if test="addTime != null" >
	    ADD_TIME,
      </if>
      <if test="modifyUserId != null" >
	    MODIFY_USER_ID,
      </if>
      <if test="modifyUserName != null" >
	    MODIFY_USER_NAME,
      </if>
      <if test="modifyTime != null" >
	    MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permitId != null" >
	    #{permitId,jdbcType=DECIMAL},
      </if>
      <if test="permitName != null" >
	    #{permitName,jdbcType=VARCHAR},
      </if>
      <if test="permitCode != null" >
	    #{permitCode,jdbcType=VARCHAR},
      </if>
      <if test="permitValue != null" >
	    #{permitValue,jdbcType=VARCHAR},
      </if>
      <if test="permitDesc != null" >
	    #{permitDesc,jdbcType=VARCHAR},
      </if>
      <if test="orderFlag != null" >
	    #{orderFlag,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null" >
	    #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
	    #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
	    #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null" >
	    #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null" >
	    #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="addUserId != null" >
	    #{addUserId,jdbcType=DECIMAL},
      </if>
      <if test="addUserName != null" >
	    #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
	    #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
	    #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyUserName != null" >
	    #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
	    #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="getCountByCriteria" parameterType="com.pkusoft.framework.model.Criteria" resultType="java.lang.Integer" >
    select count(*) from SYS_PERMIT
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update SYS_PERMIT
    <set >
      <if test="record.permitId != null" >
	    PERMIT_ID = #{record.permitId,jdbcType=DECIMAL},
      </if>
      <if test="record.permitName != null" >
	    PERMIT_NAME = #{record.permitName,jdbcType=VARCHAR},
      </if>
      <if test="record.permitCode != null" >
	    PERMIT_CODE = #{record.permitCode,jdbcType=VARCHAR},
      </if>
      <if test="record.permitValue != null" >
	    PERMIT_VALUE = #{record.permitValue,jdbcType=VARCHAR},
      </if>
      <if test="record.permitDesc != null" >
	    PERMIT_DESC = #{record.permitDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.orderFlag != null" >
	    ORDER_FLAG = #{record.orderFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.reserve1 != null" >
	    RESERVE1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null" >
	    RESERVE2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null" >
	    RESERVE3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve4 != null" >
	    RESERVE4 = #{record.reserve4,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve5 != null" >
	    RESERVE5 = #{record.reserve5,jdbcType=VARCHAR},
      </if>
      <if test="record.addUserId != null" >
	    ADD_USER_ID = #{record.addUserId,jdbcType=DECIMAL},
      </if>
      <if test="record.addUserName != null" >
	    ADD_USER_NAME = #{record.addUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
	    ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUserId != null" >
	    MODIFY_USER_ID = #{record.modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="record.modifyUserName != null" >
	    MODIFY_USER_NAME = #{record.modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
	    MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update SYS_PERMIT
    set 
		PERMIT_ID = #{record.permitId,jdbcType=DECIMAL}
		, PERMIT_NAME = #{record.permitName,jdbcType=VARCHAR}
		, PERMIT_CODE = #{record.permitCode,jdbcType=VARCHAR}
		, PERMIT_VALUE = #{record.permitValue,jdbcType=VARCHAR}
		, PERMIT_DESC = #{record.permitDesc,jdbcType=VARCHAR}
		, ORDER_FLAG = #{record.orderFlag,jdbcType=DECIMAL}
		, RESERVE1 = #{record.reserve1,jdbcType=VARCHAR}
		, RESERVE2 = #{record.reserve2,jdbcType=VARCHAR}
		, RESERVE3 = #{record.reserve3,jdbcType=VARCHAR}
		, RESERVE4 = #{record.reserve4,jdbcType=VARCHAR}
		, RESERVE5 = #{record.reserve5,jdbcType=VARCHAR}
		, ADD_USER_ID = #{record.addUserId,jdbcType=DECIMAL}
		, ADD_USER_NAME = #{record.addUserName,jdbcType=VARCHAR}
		, ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP}
		, MODIFY_USER_ID = #{record.modifyUserId,jdbcType=DECIMAL}
		, MODIFY_USER_NAME = #{record.modifyUserName,jdbcType=VARCHAR}
		, MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
  <update id="updateSelective" parameterType="com.pkusoft.admin.model.SysPermit" >
    update SYS_PERMIT
    <set >
      <if test="permitId != null" >
       PERMIT_ID = #{permitId,jdbcType=DECIMAL},
      </if>
      <if test="permitName != null" >
       PERMIT_NAME = #{permitName,jdbcType=VARCHAR},
      </if>
      <if test="permitCode != null" >
       PERMIT_CODE = #{permitCode,jdbcType=VARCHAR},
      </if>
      <if test="permitValue != null" >
       PERMIT_VALUE = #{permitValue,jdbcType=VARCHAR},
      </if>
      <if test="permitDesc != null" >
       PERMIT_DESC = #{permitDesc,jdbcType=VARCHAR},
      </if>
      <if test="orderFlag != null" >
       ORDER_FLAG = #{orderFlag,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null" >
       RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
       RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
       RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null" >
       RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null" >
       RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="addUserId != null" >
       ADD_USER_ID = #{addUserId,jdbcType=DECIMAL},
      </if>
      <if test="addUserName != null" >
       ADD_USER_NAME = #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
       ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
       MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyUserName != null" >
       MODIFY_USER_NAME = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where 
    PERMIT_ID = #{permitId,jdbcType=DECIMAL}
  </update>
  <update id="update" parameterType="com.pkusoft.admin.model.SysPermit" >
    update SYS_PERMIT
    set 
		PERMIT_ID = #{permitId,jdbcType=DECIMAL}
		, PERMIT_NAME = #{permitName,jdbcType=VARCHAR}
		, PERMIT_CODE = #{permitCode,jdbcType=VARCHAR}
		, PERMIT_VALUE = #{permitValue,jdbcType=VARCHAR}
		, PERMIT_DESC = #{permitDesc,jdbcType=VARCHAR}
		, ORDER_FLAG = #{orderFlag,jdbcType=DECIMAL}
		, RESERVE1 = #{reserve1,jdbcType=VARCHAR}
		, RESERVE2 = #{reserve2,jdbcType=VARCHAR}
		, RESERVE3 = #{reserve3,jdbcType=VARCHAR}
		, RESERVE4 = #{reserve4,jdbcType=VARCHAR}
		, RESERVE5 = #{reserve5,jdbcType=VARCHAR}
		, ADD_USER_ID = #{addUserId,jdbcType=DECIMAL}
		, ADD_USER_NAME = #{addUserName,jdbcType=VARCHAR}
		, ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
		, MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL}
		, MODIFY_USER_NAME = #{modifyUserName,jdbcType=VARCHAR}
		, MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where 
    PERMIT_ID = #{permitId,jdbcType=DECIMAL}
  </update> 
</mapper>