.text-magnifier {
    display: none;
    z-index: 20000;
    position: absolute;
    border: solid 1px transparent;
    padding: 6px;
    font-size: 20px;
    &.success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &.info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    &.warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &.danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
}
.text-magnifier-tips {
    font-size: 12px;
    border-top: dashed 1px;
    margin-top: 2px;
    padding-top: 2px;
}
