// 应用启动面板
.launchpad-container {
    position: relative;
    width: 100%;
    height : 100%;
    @include clearfix();
}
.launchpad-view {
    position: relative;
    width: 100%;
    height: 100%;
}
.launchpad-view-pageList {

}
.launchpad-view-pageItem {

}
.launchpad-shortcutpad {
    width: 80%;
    min-width: 140px * 6;
    min-height: 140px * 3;
    margin: 40px auto 0 auto;
    @include clearfix();
    @include user-select(none);
}
.launchpad-shortcut {
    float: left;
    width: 140px - 2;
    height: 140px - 2;
    border: solid 1px transparent;
    cursor: pointer;
    &:hover {
        background-color: rgba(0,0,0,.2);
        border-color: rgba(255,255,255,0.2);
    }
}
.launchpad-shortcut-placeholder {
    float: left;
    width: 140px - 2;
    height: 140px - 2;
    border: solid 1px rgba(255,255,255,0.1);
    background-color: rgba(0,0,0,.1);
}
.launchpad-LastShortcut-placeholder {
    float: left;
    width: 140px;
    height: 140px;
}
.launchpad-shortcut-icon {
    display: block;
    width: 76px;
    height: 76px;
    margin: 10px auto 0 auto;

}
.launchpad-shortcut-fonticon {
    line-height: 76px;
    text-align: center;
    font-size: 32px;
    color: #d4dae0;

    // background: url(../images/apps/fonticon_bg.png) no-repeat center center;
}

.launchpad-shortcut-title {
    width: 100px;
    margin: 8px auto 0 auto;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.launchpad-pagination {
    //background: rgba(0,0,0,.2);
    //position: absolute;
    //bottom: 0;
    //left: 0;
    //width: 100%;
}
.launchpad-pagination-nav {
}
.launchpad-pagination-navItem-active {
    @include opacity(1);

}
.launchpad-pagination-previous,
.launchpad-pagination-next {
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;

}
.launchpad-pagination-previous {
    left: 5%;
    @extend .icon-arrow-left;
}
.launchpad-pagination-next {
    @extend .icon-arrow-right;
    right: 5%;
}

.launchpad-pagination-switchList {
    //background: rgba(0,0,0,.2);
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
}
.launchpad-pagination-switchItem {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 12px;
    border-radius: 12px;
    background-color: #6e9ec0;
    @include box-shadow(inset 0 0 1px rgba(0, 0, 0, 0.35));
    &:hover {
        @extend .launchpad-pagination-switchItem-active;
    }
}
.launchpad-pagination-switchItem-active {
        background-color: #fff;
}

.da-theme-light {
    .launchpad-pagination-previous {
        @extend .icon-arrow-light-left;
    }
    .launchpad-pagination-next {
        @extend .icon-arrow-light-right;
    }
    .launchpad-shortcut-icon {
        -webkit-box-reflect: below 2px  -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 40%,rgba(250,250,250,0.2));
        box-reflect: below 2px -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 40%,rgba(250,250,250,0.2));
    }

    .launchpad-shortcut-fonticon {
        border-radius: 4px;
        text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.25);
    }
    .launchpad-shortcut {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
        overflow: hidden;
        -webkit-transition-property: color, border-color;
        transition-property: color, border-color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        &:hover {
            border-color: transparent;
            background-color: transparent;
            &:before {
                -webkit-transform: scale(2);
                transform: scale(2);
            }
        }
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 100%;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        &:hover {

        }
    }
}

.fonticon-default {
    background: #41a0f0;
    color: #fff;
}

// 青色（跟默认色很像）
.fonticon-cyan {
    color: #fff;
    background: #3fa1f2;
}
// 灰白色
.fonticon-grayWhite {
    color: #31b6ff;
    background: #f1f7f7;
}
// 绿色
.fonticon-green {
    color: #ebffea;
    background: #3ec245;
}
// 橙色
.fonticon-orange {
    color: #fcfbf6;
    background: #fd813c;
}
// 橙色
.fonticon-red {
    color: #ede9e6;
    background: #f9614e;
}
// 紫色
.fonticon-purple {
    color: #f5f0f7;
    background: #747ef9;
}
// 黄色
.fonticon-yellow {
    color: #fbfffd;
    background: #ffcd03;
}