<form class="da-form"
      action="__CTX__/admin/sysMenuUpdate" method="post"
      data-pkui-component="validator|form"
      data-done-callback="editSysMenuDoneCallback"
      data-fail-callback="editSysMenuFailCallback"
      data-always-callback="editSysMenuAlwaysCallback" >

    <input type="hidden" name="menuId" value="{{menuId}}">
    <input type="hidden" name="treeLevel" value="{{treeLevel}}">
    <input type="hidden" name="treeParentid" value="{{treeParentid}}">

    <div class="da-form-heading">{{menuName}}</div>
    <div class="da-form-body">
        <table class="da-form-table da-table da-table-striped">
            <colgroup>
                <col width="20%">
                <col width="80%">
            </colgroup>
            <tr>
                <td class="text-right"><label class="da-control-label required">菜单名称：</label></td>
                <td><input type="text" class="da-form-control" name="menuName" value="{{menuName}}"
                           data-rule='“菜单名称”: required'></td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label required">链接路径：</label></td>
                <td><input type="text" class="da-form-control" name="menuUrl" value="{{menuUrl}}"
                           data-rule='“链接路径”: required'></td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label required">是否可用：</label></td>
                <td>
                    <div class="da-form-radio">
                        <label><input type="radio" name="visiable" value="1" {{if visiable === "1"}}checked{{/if}}>是</label>
                        <label><input type="radio" name="visiable" value="0" {{if visiable === "0"}}checked{{/if}}>否</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label required">是否展开：</label></td>
                <td>
                    <div class="da-form-radio">
                        <label><input type="radio" name="expand" value="1" {{if visiable === "1"}}checked{{/if}}>是</label>
                        <label><input type="radio" name="expand" value="0" {{if visiable === "0"}}checked{{/if}}>否</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label">备注：</label></td>
                <td><input type="text" class="da-form-control" name="memo" value="{{memo}}"></td>
            </tr>
            <tr>
                <td class="text-right"><label class="da-control-label">图标：</label></td>
                <!--
                <td><input type="text" class="da-form-control" name="icon" value="{{icon}}"
                           style="width: 60%; margin-right: 20px;">{{icon | iconFormat: "24px"}}</td>
                -->
                <style>
                    .menuicon-container {
                        padding: 6px 0;
                    }
                    .menuicon-container .tab-content {
                        padding: 6px;
                    }
                    .menuicon-fontIcon {
                        position: relative;
                    }
                    .menuicon-fontIcon-display {
                        width: 100px;
                        height: 100px;
                        border: solid 1px #ccc;
                        line-height: 100px;
                        text-align: center;
                        background-color: #fff;
                    }
                    .menuicon-fontIcon-display .fa {
                        font-size: 32px;
                    }
                    .menuicon-fontIcon-input {
                        padding-top: 6px;
                    }

                    .menuicon-image {
                    }
                    .menuicon-fontIcon-tool {
                        position: absolute;
                        top: 0;
                        right: 12px;
                    }
                    .menuicon-help,
                    .menuicon-more {
                        float: left;
                    }
                    .menuicon-help {
                        margin-left: .5em;
                    }
                    .menuicon-image-choose {
                        height: 136px;
                        border: dashed 1px #ccc;
                        background-color: #fff;
                    }
                    .menuicon-upload {
                        /*padding-top: 12px;*/
                    }
                </style>
                <td>

                    <input type="hidden" id="sysMenuIconInput" name="icon" value="{{icon}}">

                    <div class="menuicon-container">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#sysMenuFontIcon" role="tab" data-toggle="tab">字体图标（推荐）</a></li>
                            <li role="presentation"><a href="#sysMenuImageIcon" role="tab" data-toggle="tab">传统图标</a></li>
                        </ul>
                        <!-- /Nav tabs -->

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- font icon -->
                            <div role="tabpanel" class="tab-pane active" id="sysMenuFontIcon">
                                <div class="menuicon-fontIcon">
                                    <div class="menuicon-fontIcon-display" id="sysMenuFontIconDisplayArea">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <div class="menuicon-fontIcon-input">
                                        <input type="text" class="da-form-control" id="sysMenuFontIconInput" value="">
                                    </div>
                                    <div class="menuicon-fontIcon-tool">
                                        <a class="menuicon-more"
                                           title="查看更多可选图标"
                                           href="__CTX__/static/pkui/css/font/font-awesome/4.7.0/index.html"
                                           target="fa_demo_window"><i class="fa fa-external-link-square"></i> 更多</a>
                                        <a class="menuicon-help"
                                           title="1. 点击“更多”，在新页面中拷贝合适的图标名称；2. 将“拷贝的图标名称”粘贴到输入框。"
                                           href="javascript:void(0)"><i class="fa fa-question-circle-o"></i> 帮助</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /font icon -->
                            
                            <!-- image icon -->
                            <div role="tabpanel" class="tab-pane" id="sysMenuImageIcon">
                                <div class="menuicon-image-input">
                                    <input type="text" class="da-form-control" id="sysMenuImageIconInput" value="" disabled>
                                </div>
                                <div class="menuicon-image">
                                    <div class="menuicon-image-choose" id="sysMenuImageIconChooseArea"></div>

                                </div>
                            </div>
                            <!-- /image icon -->

                        </div>
                        <!-- /Tab panes -->

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="da-form-footer">
        <button type="submit" class="btn btn-success-2">确定</button>
    </div>
</form>


<script>
    +function () {

        var
            $ = jQuery,
            iconBasePath = window.PKUI.iconPath,
            icon = "{{icon}}",
            $tabs = $( ".nav-tabs a" ),
            $sysMenuIconInput = $( "#sysMenuIconInput" ),
            $sysMenuFontIconInput = $( "#sysMenuFontIconInput" ),
            $sysMenuFontIconDisplayArea = $( "#sysMenuFontIconDisplayArea" ),
            $sysMenuImageIconChooseArea = $( "#sysMenuImageIconChooseArea" )
        ;

        if ( !icon ) {
            return;
        }

        // 手动初始化 tab
        $tabs.tab();

        // font icon
        $sysMenuFontIconInput.off( "input.sysmenu" ).on( "input.sysmenu", function () {
            var
                value = this.value
                ;
            if ( !value ) {
                return;
            }
            if ( value.indexOf( "fa-" ) !== -1 ) {
                $sysMenuFontIconDisplayArea.html( '<i class="' + value + '"></i>' );
                $sysMenuIconInput.val( value );
            }
        } );

        // image icon
        $tabs.eq( 1 ).on( "shown.bs.tab", function () {
            var
                $this = $( this )

                ;
            if ( $this.data( "ispending") ) {
                window.layer.msg( "载入中...");
                return;
            } else {
                $this.data( "ispending", true );
            }

            // 打开 loading
            $sysMenuImageIconChooseArea.isLoading( { position: "insideButton" } );

            // 载入
            $.ajax( {
                url: "__CTX__/admin/sysMenuIconsDataExt"
            } ).done( function ( gridResult ) {
                var
                    sysMenuIconList,
                    html = ""

                ;
                if ( gridResult && gridResult.success ) {
                    sysMenuIconList = gridResult.data;
                    $.each( sysMenuIconList, function ( index, sysMenuIcon ) {
                        var iconName = sysMenuIcon[ "iconName" ],
                            isActive = ( icon === iconName ),
                            src = iconBasePath + "/24x24/" + iconName
                        ;
                        if ( isActive ) {
                            html += "<img src='" + src + "' class='active'>";
                        } else {
                            html += "<img src='" + src + "'>";
                        }
                    } );
                    $sysMenuImageIconChooseArea.html( html );
                }
                else {
                    layer.alert( "获取图标名称失败！", { icon: 2 } );
                }
            } ).fail( function () {
                // 提示网络错误
                layer.alert( '网络错误！', { icon: 0 } );
            } ).always( function () {
                // 关闭 loading
                $sysMenuImageIconChooseArea.isLoading( "hide" );
            } );

        } );



        // 根据 icon 的值，决定显示那个 页签
        if ( icon.indexOf( "fa-" ) !== -1 ) {
            $tabs.eq( 0 ).tab( "show" );
            $sysMenuFontIconInput.val( icon ).trigger( "input.sysmenu" );
        }
        else if ( icon.indexOf( ".png" ) !== -1 ) {
            $tabs.eq( 1 ).tab( "show" );
        }


    }();


    // 请求发送成功，对服务器端返回的数据进行处理
    function editSysMenuDoneCallback($form, jsonResult) {
        console.info( jsonResult );
        jsonResult = window.PKUI.handleJsonResult( jsonResult );
        console.info( jsonResult );
        // 服务器端处理成功
        if ( jsonResult.success ) {
            // 提示
            layer.alert( '修改成功！', { icon: 1 }, function ( index ) {
                layer.close( index );
                // 关闭抽屉层
                $form.closest( ".pkui-drawer" ).find( ".pkui-drawer-button" ).trigger( "click" );
                // 刷新菜单
                $( "#refreshSysMenuTreeButton" ).trigger( "click" );
            } );
        }
        // 服务器端处理失败
        else {
            // 提示
            layer.alert( '修改失败！', { icon: 2 } );
        }
    }

    // 请求发送失败
    function editSysMenuFailCallback($form) {
        // 提示网络错误
        layer.alert( '网络错误！', { icon: 0 } );
    }

    // 无论请求发送成功与否
    function editSysMenuAlwaysCallback($form) {
        // 无论
    }
</script>